@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100..900&display=swap');

 .nav{
    font-family: "Noto Sans Thai", sans-serif;
    font-size: 1.4rem;
    font-weight: 500;
    margin-inline: auto;
    padding-inline: 3%;
    width: 100%;
}
.divnav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 6rem;
}

.div {
    display: flex;
    gap: 2em;
    align-items: center;

}

.button {
    padding: 5px 20px;
    border-radius: 5px;
    background-color: #559BF8;
    color: #FFFFFF;
    font-weight: 600;
   padding-top: 8px;
}